[submodule "containers"]
	path = containers
	url = https://github.com/ReproNim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "https://github.com/ReproNim/containers"
[submodule "sourcedata/friends"]
	path = sourcedata/friends
	url = https://github.com/courtois-neuromod/friends
	datalad-id = 66738676-1d20-11ea-9a9e-3ea8d101da1a
	datalad-url = "https://github.com/courtois-neuromod/friends"
